

<header class="container-fluid">
  <div id="">
    <h1><b>{{title}}</b></h1>

    <div class="lineBreak container">
      <hr/>
    </div>

    <br/>

    <div>
      <h2
        class="animate__animated animate__backInDown"><b>DEVOPS SOFTWARE ENGINEER.</b>
      </h2>
    </div>
  </div>

  <div id="parent2" class="headimage">
    <div id="child2" class="">
      <img src="..//assets/img/6-2-responsive-web-design-transparent-thumb.png"
        width="300px"
        alt="Responsive web design png photo"/>
    </div>
  </div>
</header>

<br/>

<nav
  class="navbar navbar-expand-sm bg-dark navbar-dark"
  (scroll)="onscroll()"
  [ngClass]="navbarfixed?'fixed':'nofixed'">
  <ul class="navbar-nav">
      <li class="nav-item active">
          <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#skills">Skills</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#education">Education</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#experience">Experience</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#portifolio">Portifolio</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="#contacts">Contacts</a>
      </li>
  </ul>
</nav>

<br/>

<!--Main content-->
<main class="container">

  <br/>

  <div id="about" class="">
    <h3><b>ABOUT ME</b></h3>
  </div>

  <div class="lineBreak container">
    <hr/>
  </div>

  <br/>

  <div id="parent1" class="rounded">
    <div id="child1">
      <img id="aboutimg" src="../assets/img/irvine2.png" alt="My personal photo"/>
    </div>
    <div id="child2">
      <p><b>HIE, ITS ME!</b></p>
      <br>
      <p>I like building awasome, secure and usable software.
        I've built websites, web applications, corporate software and some games!
        If you are interested, you can view some of my favorite projects online in my
        <a
          class="text-primary text-lowercase text-decoration-underline bg-light"
          href="#portifolio">portifolio
        </a>
        below.
      </p>

      <br>

      <p>
        <b>When i am not coding my next project, i enjoy spending my time doing any of the following:</b>
      </p>

      <ul>
        <li>Brainstorming at coding boot camps and conferences.</li>
        <li>Watching soccer, the EPL.</li>
        <li>Meeting fellow software engineers on twitter and other developer community platforms to share
          knowledge and collaborate on projects.
        </li>
      </ul>
    </div>
  </div>

  <br>

  <div id="parent2" class="container">
    <div>
      <p><b>I develop websites and web applications that perfectly displays web content that is accessible and
        consistent on
        all screen sizes.</b>
      </p>
    </div>
    <div id="child1" class="responsiveicons"><i class="fas fa-laptop"></i>Desktop screens.</div>
    <div id="child2" class="responsiveicons"><i class="fas fa-tablet-alt"></i>Tablet.</div>
    <div id="child3" class="responsiveicons"><i class="fas fa-mobile-alt"></i>Extra small screens.</div>
    <br/>
    <br/>
    <div
      id=""
      class="">
      <img class=""
        src="https://media.giphy.com/media/gEI1iGxhuvC3zULHLG/giphy.gif"
        width="20%"
        alt="gif"/>
      </div>
  </div>


  <!----Download font awesome icon
    <div id="child" class=""><i class="fas fa-download"></i></div>
  -->
  <br/>

  <!--Skills #parent2-->
  <div id="skills" class="container">
    <div>
      <h3><b>TECHNICAL SKILLS</b></h3>
    </div>

    <div class="lineBreak container">
      <hr/>
    </div>

    <br/>

    <div class="container">
      <p>I've worked with a wide variety of programming languages. For web applications, i use PHP and
        JavaScript. Whenever I need the most security and performance possible I obviously go for Java, and
        finally when i am building prototypes or working on my hobby projects i fall back on Python.
      </p>
    </div>
  </div>

  <div id="parent2">
    <div>
      <h4><b>PROGRAMMING LANGUAGES.</b></h4>
    </div>
    <div id="child1" class="responsiveicons"><i class="fab fa-js-square"></i> JAVASCRIPT.</div>
    <div id="child2" class="responsiveicons"><i class="fab fa-java"></i> JAVA.</div>
    <div id="child3" class="responsiveicons"><i class="fab fa-php"></i> PHP.</div>
    <div id="child" class=""><i class="fas fa-download"></i></div>

    <div>
      <h4><b>TECH TOOLS I AM MOSTLY FAMILIAR WITH.</b></h4>
    </div>

    <div id="child1" class="">
      <h4><b>FRAMEWORK</b></h4>
      <p>Node.js</p>
      <p>React.js</p>
      <p>Angular</p>
      <p>Bootstrap</p>
      <p>Ionic</p>
      <p>Electron</p>
      <p>Continuos integration /Delivery</p>
    </div>
    <div id="child2" class="">
      <h4><b>SOFTWARE</b></h4>
      <p>Linux & Windows</p>
      <p>Git (Version Control)</p>
      <p>Docker</p>
      <p>MySQL & MongoDB</p>
      <p>Apache & Nginx Web Servers</p>
      <p>Amazon web services</p>
    </div>
  </div>

  <br/>

  <!--Education-->
  <div id="education" class="container">
    <h3><b>EDUCATION</b></h3>
  </div>

  <div class="lineBreak container">
    <hr/>
  </div>

  <br/>

  <div class="jumbotron">
    <p>Studying towards a <b>Bachelor of Science Honours in Information And Communication Technology</b>,
          majoring in
      <b> Computer Software Engineering</b> at Zimbabwe Open University, due to graduate in 2023.
    </p>
  </div>

  <!--Experience-->
  <div id="experience" class="container">
    <h3><b>EXPERIENCE</b></h3>

    <div class="lineBreak container">
      <hr/>
    </div>

    <br/>

  </div>

  <div class="jumbotron">
    <p>I have been programming for the past six years and have vast knowledge in functional and
      object oriented paradigms. Started freelancing as a remote software developer at
      <a
        class="text-primary text-lowercase text-decoration-underline bg-light"
        href="https://www.upwork.com/freelancers/~01d7fe4c1e5df57596" target="_blank" referer="noopener">
        Upwork.com
      </a>since July 2020 to present.
    </p>
  </div>

  <br/>

  <!--Portifolio #parent4-footer-->
  <div id="portifolio" class="container">
    <div id="parent4-footer">
      <div class="card-container">
        <h3><b>PORTIFOLIO</b></h3>

        <div
          class="lineBreak container">
        </div>

        <br/>

        <p>View some of my projects by visiting the links below:</p>



        <span>
          <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
            Product Langing Page
          </a>
        </span>

        <br/>

        <span>
          <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
            User Login form
          </a>
        </span>

        <br/>

        <span>
          <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
            Scientific Calculator
          </a>
        </span>

        <br/>

        <span>
          <a class="card" target="_blank" rel="noopener" href="https://angular.io/devtools/">
            Ping Pong game
          </a>
        </span>
      </div>
    </div>
  </div>

  <br/>

  <!--Contacts #parent1-->
  <div id="contacts" class="container">
    <div id="parent1" class="rounded">
      <br/>
      <h3><b>CONTACTS</b></h3>

      <div class="lineBreak container">
        <hr/>
      </div>

      <br/>

      <div><app-contact></app-contact></div>

      <br/>
        <div id="">You can interact directly with me via
          <a
            class="text-primary text-lowercase text-decoration-underline bg-light"
            id="mailto" href="mailto:irvenehawks@gmail.com?
              subject=MessageTitle&amp;
              body=Message Content"
            target="_blank"
            referer="noopener">
            email
          </a>or
          <a
            class="text-primary text-lowercase text-decoration-underline bg-light"
            id="tel"
            href="tel:+263717259326"
            target="_blank"
            referer="noopener">
              phone call
          </a>
        </div>
      </div>
    </div>
</main>

<br/>

<!--Footer #parent4-footer-->
<footer id="parent4-footer" class="rounded container-fluid">
  <div id="">
    <h4 id="footer-text"><b>Lets connect on social media:</b></h4>

    <div class="footer-content container">
      <span>
        <a class="bg-light" href="https://www.linkedin.com/in/irvene-kwambana-a429021a0/"
          target="_blank" referer="noopener"><img id="" class="circle" src="../assets/img/linkedin.png"
          width="28px"/>
        </a>
      </span>
      <span>
        <a class="bg-light" href="https://www.facebook.com/profile.php?id=100075046086113"
          target="_blank" referer="noopener"><img id="" src="../assets/img/facebook-new.png"
          width="30px"/>
        </a>
      </span>
      <span>
        <a class="bg-light" href="https://wa.me/263737543231"
          target="_blank" referer="noopener"><img id="" src="../assets/img/whatsapp.jpg"
          width="26px"/>
        </a>
      </span>
      <span>
        <a class="bg-light" href="https://www.youtube.com/playlist?list=PL31rKxIZsC35nPVaJiBGb9cv5FX_5EqYZ"
          target="_blank" referer="noopener"><img id="" src="../assets/img/youtube.png"
          width="30px"/>
        </a>
      </span>

      <div class="lineBreak container">
        <hr/>
      </div>

      <p id="footer-text"><b>Irvene Kwambana founder@ BluFlare Software, Inc &copy;2021.
        All rights reserved.</b>
      </p>
    </div>
  </div>
</footer>



  <!-- Resources
  <h2>ABOUT ME</h2>
  <p>Here are some links to help you get started:</p>

  <div class="card-container">
    <a class="card" target="_blank" rel="noopener" href="https://angular.io/tutorial">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
      <span>Learn Angular</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/cli">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/></svg>
      <span>CLI Documentation</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://blog.angular.io/">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.5.67s.74 2.65.74 4.8c0 2.06-1.35 3.73-3.41 3.73-2.07 0-3.63-1.67-3.63-3.73l.03-.36C5.21 7.51 4 10.62 4 14c0 4.42 3.58 8 8 8s8-3.58 8-8C20 8.61 17.41 3.8 13.5.67zM11.71 19c-1.78 0-3.22-1.4-3.22-3.14 0-1.62 1.05-2.76 2.81-3.12 1.77-.36 3.6-1.21 4.62-2.58.39 1.29.59 2.65.59 4.04 0 2.65-2.15 4.8-4.8 4.8z"/></svg>
      <span>Angular Blog</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

    <a class="card" target="_blank" rel="noopener" href="https://angular.io/devtools/">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><g><rect fill="none" height="24" width="24"/></g><g><g><path d="M14.73,13.31C15.52,12.24,16,10.93,16,9.5C16,5.91,13.09,3,9.5,3S3,5.91,3,9.5C3,13.09,5.91,16,9.5,16 c1.43,0,2.74-0.48,3.81-1.27L19.59,21L21,19.59L14.73,13.31z M9.5,14C7.01,14,5,11.99,5,9.5S7.01,5,9.5,5S14,7.01,14,9.5 S11.99,14,9.5,14z"/><polygon points="10.29,8.44 9.5,6 8.71,8.44 6.25,8.44 8.26,10.03 7.49,12.5 9.5,10.97 11.51,12.5 10.74,10.03 12.75,8.44"/></g></g></svg>
      <span>Angular DevTools</span>
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </a>

  </div>
-->

<router-outlet></router-outlet>
